<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="UglyZfcUserFacebook">
            <directory>UglyZfcUserFacebookTest/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module</directory>
        </whitelist>
    </filter>
</phpunit>
